<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>
    <form method="post">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        {{ form.as_p }}

        <button type="submit">Register</button>
    </form>
    <a href="{% url 'login_page' %}" class="button">Go to Login Page</a>
</body>
</html>